In [ ]:
#Import Packages
from selenium import webdriver
import time
import pandas as pd
import os

In [ ]:
#Import Packages

from selenium.webdriver.support.select import Select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

In [ ]:
#Use this Url and change city or role accordingly

url1='https://www.linkedin.com/jobs/search/?currentJobId=3784873937&distance=25&f_WT=2&geoId=104305776&keywords=software%20engineer&origin=JOBS_HOME_SEARCH_CARDS'

In [ ]:
#Load the web driver and get the url

driver = webdriver.Chrome(executable_path=r'C:\\Users\\Default\\Desktop\\chromedriver.exe')
driver.implicitly_wait(10)
driver.get(url1)

In [ ]:
#Find number of job listings

y=driver.find_elements_by_class_name('jobs-search-results-list__subtitle')[0].text

In [ ]:
type(y)

str

In [ ]:
n=pd.to_numeric(y)

In [ ]:
n

228

In [ ]:
#Create empty lists for company name and job title

companyname= []
titlename= []
hrefList = []

In [ ]:
#Loop to scroll through all jobs and click on see more jobs button for infinite scrolling
i = 0
while i < n:
  driver = webdriver.Chrome(executable_path=r'C:\\Users\\Default\\Desktop\\chromedriver.exe')
  driver.implicitly_wait(10)
  modified_url=url1+'&start='+str(i)
  driver.get(modified_url)
  time.sleep(10)
  try:
    for i in range(n):
      company=driver.find_elements_by_class_name('job-card-container__primary-description')[i].text
      companyname.append(company)
  except IndexError:
    print("no name")
  try:
    for i in range(n):
      title=driver.find_elements_by_class_name('job-card-list__title')[i].text
      titlename.append(title)
  except IndexError:
    print("no title")
  try:
    jobList = driver.find_elements_by_class_name('job-card-container__link')
    for e in jobList:
        hrefList.append(e.get_attribute('href'))
  except:
    print("no link")
  i+=25

In [ ]:
len(companyname)

228

In [ ]:
len(titlename)

228

In [ ]:
#Create dataframe for company name and title

companyfinal=pd.DataFrame(companyname,columns=["company"])
titlefinal=pd.DataFrame(titlename,columns=["title"])

In [ ]:
#Join the two lists

x=companyfinal.join(titlefinal)

In [ ]:
x

,company,title
0,rebuy recommerce,Data Analyst - Marketing (m/f/x)
1,Vinted,"Data Analyst / Decision Scientist, Digital Mar..."
2,Taxfix,CRM Data Analyst
3,GetYourGuide,"Senior Data Analyst, Marketing Analytics (Bran..."
4,ONOMOTION (ONO),Business Analyst Data Structure and Finance Sy...
...,...,...
223,Hypoport SE,Business Analyst - Software Development InsurT...
224,adesso insurance solutions GmbH,Business Analyst (all genders) Datenmigration ...
225,idealo internet GmbH,Senior Software Engineer (m|f|x) - Customer Ac...
226,Bausch + Lomb,Praktikant oder Werkstudent (m/w/d)- im Bereic...
227,Wayfair,Working Student / Intern EU Major Promotions

In [ ]:
#Save file in your directory

x.to_csv('linkedin.csv')

In [ ]:
linklist=pd.DataFrame(hrefList,columns=["joblinks"])

In [ ]:
linklist.to_csv('linkedinlinks.csv')

In [ ]:
#Close the driver

driver.close()